<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>greeter</title>
</head>
<body>

<form th:action="@{/complain}" th:object="${Submission}" >

    <p>author: <input type="text" th:name="author" /></p>
    <p>complaint: <input type="text" th:name="complaint" /></p>
    <input type="submit" value="Submit">

</form>

<table>
    <tr>
        <th>author</th>

    </tr>
    <tr  th:each="submission : ${submissions}">
        <td class="align-middle" th:text="${submission.author}"></td>
    </tr>
</table>

</body>
</html>